@import "@scss/imports/variables";

.main {
	display: flex;
	width: 100%;
	min-height: 100vh;
	padding: 30px 0;
	font-family: "Lato", sans-serif;
	margin:0;
	h2 {
		// line-height: 60px;
		span {
			display: inline-block;
			position: relative;
			padding: 0 10px;
			line-height: 45px;
			background-image: linear-gradient(to left, #ff1cf7 25%, #b249f8 100%);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			&:hover::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				width: 90%;
				margin: 0 auto;
				// background-image: linear-gradient(to left, #ff1cf7 25%, #b249f8 100%);
				background-color: $gray-100;
			}
		}
	}
	h3 {
		color: $gray-400;
	}
}
.gradient-link {
	position: relative;
	background-image: linear-gradient(to left, #ff1cf7 25%, #b249f8 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	&:hover::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1px;
		background-image: linear-gradient(to left, #ff1cf7 25%, #b249f8 100%);
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	height: 100%;
}


.gradient-background {
	background: rgb(0, 0, 0);
	background: radial-gradient(
		circle,
		rgb(2, 0, 10) 0%,
		rgba(22, 10, 109, 1) 45%,
		rgba(99, 6, 132, 1) 100%
	);
	background-size: 180% 180%;
	animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}
